<div class="container1 mt-5">
    <h2>Completa los campos!</h2>
    <div class="row">
        <form action="/admin/contactoNovedades/agregarNovedades" method="post">
            <div class="form-group">
                <input type="text" class="input-field" id="inputUser" placeholder="Titulo" name="titulo"></input>
            </div>
          <div class="form-group">
                <textarea type="text" class="input-field" id="inputSubtitulo" placeholder="Subtitulo" name="subtitulo"></textarea>
            </div>
          <div class="form-group">
               <textarea type="text" class="input-field" id="inputCuerpo" placeholder="Cuerpo" name="cuerpo"></textarea>
          </div>
          {{#if error}}
          <p class="error-message ">{{message}}</p>
          {{/if}}
          <button type="submit" class="submit-button">Guardar</button>
        </form>
    </div>
</div>

<link rel="stylesheet" href="../../public/stylesheets/admin.css">
