<h1>holis</h1>

<div class="container" id="panel-container" > 
    <div class="row">
        <p id="welcome-message">Hola {{nombre}} ! <a id="logout-btn" href="/admin/login/logout">Cerrar Sesion</a></p>
    </div>
</div>

<link rel="stylesheet" href="/stylesheets/admin.css">